@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, sans-serif;
}

body {
  background: white;
}

.container {
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#day1 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  background: linear-gradient(225deg, yellow -10%, orange 75%, orangered 110%);
  background-color: red;
  display: grid;
  place-content: center;
}
#day1 .center {
  display: grid;
  justify-items: center;
}
#day1 .center .shapes {
  width: 200px;
  height: 100px;
  display: flex;
  place-content: center;
  transform: translateX(12px);
}
#day1 .center .shapes > * {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#day1 .center .shapes .one {
  position: absolute;
  width: 26px;
  height: 100px;
  background: white;
  border-radius: 3px;
  z-index: 10;
  transform: translateX(-87px);
}
#day1 .center .shapes .one.add {
  width: 26px;
  height: 40px;
  z-index: 9;
  transform-origin: top left;
  transform: translateX(-85px) translateY(-1px) rotateZ(45deg);
}
#day1 .center .shapes .two, #day1 .center .shapes .three {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 24px solid white;
  border-radius: 50%;
}
#day1 .center .shapes .two {
  transform: translateX(-34px);
  z-index: 8;
}
#day1 .center .shapes .three {
  transform: translateX(50px);
  z-index: 7;
}
#day1 .center .text {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  z-index: 12;
}
#day1 .center .text.big {
  font-size: 76px;
  line-height: 72px;
  transform: translateX(2px);
  margin-top: 6px;
}
#day1 .center .text.small {
  font-size: 22px;
  line-height: 20px;
}

#day2 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  background-color: slateblue;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  display: grid;
  place-content: center;
}
#day2 .center {
  width: 120px;
  height: 90px;
  display: grid;
  place-items: center;
}
#day2 .center .line {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#day2 .center .line.up {
  transform: translateY(-35px);
  z-index: 6;
}
#day2 .center .line.ctr {
  transform: translateY();
  z-index: 5;
}
#day2 .center .line.down {
  transform: translateY(35px);
  z-index: 7;
}
#day2 .center:hover .line.up {
  animation: anim-l-up 1s ease-in-out;
  animation-fill-mode: forwards;
}
#day2 .center:hover .line.ctr {
  animation: anim-l-ctr 1s ease-in-out;
  animation-fill-mode: forwards;
}
#day2 .center:hover .line.down {
  animation: anim-l-down 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes anim-l-up {
  0% {
    transform: translateY(-35px);
  }
  45% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(0);
  }
  100% {
    transform: translate(0) rotateZ(45deg);
  }
}
@keyframes anim-l-ctr {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes anim-l-down {
  0% {
    transform: translateY(35px);
  }
  45% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(0);
  }
  100% {
    transform: translate(0) rotateZ(135deg);
  }
}

#day3 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  background-color: #222;
  display: grid;
  place-content: center;
}
#day3 .center {
  display: grid;
  width: 240px;
  height: 240px;
  background: gray;
  clip-path: circle(120px at 50% 50%);
  display: grid;
  place-items: center;
}
#day3 .center .sky {
  width: 240px;
  height: 170px;
  background: skyblue;
  animation: sky 10s linear infinite;
}
#day3 .center .ground {
  width: 240px;
  height: 70px;
  animation: ground 10s linear infinite;
  display: grid;
  justify-items: center;
}
#day3 .center .ground .shadow {
  position: absolute;
  width: 400px;
  height: 60px;
  background: rgba(0, 0, 0, 0.2);
  animation: pyramid-s 10s linear infinite;
}
#day3 .center .day {
  position: absolute;
  width: 350px;
  height: 50px;
  animation: day 10s linear infinite;
  display: flex;
  justify-content: space-between;
}
#day3 .center .day .sun, #day3 .center .day .moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#day3 .center .day .sun {
  background: yellow;
}
#day3 .center .day .moon {
  background: white;
}
#day3 .center .pyramid {
  position: absolute;
  align-self: end;
  width: 140px;
  height: 80px;
  transform: translateY(-70px);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  animation: ground 10s linear infinite;
  display: grid;
  justify-items: center;
}
#day3 .center .pyramid .left {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0, 60% 100%, 0 100%);
  animation: pyramid-lr 10s linear -4s infinite;
}
#day3 .center .pyramid .right {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0, 100% 100%, 60% 100%);
  animation: pyramid-lr 10s linear -2s infinite;
}
@keyframes sky {
  0% {
    background: orangered;
  }
  5% {
    background: skyblue;
  }
  45% {
    background: skyblue;
  }
  50% {
    background: orangered;
  }
  55% {
    background: #000025;
  }
  95% {
    background: #000025;
  }
  100% {
    background: orangered;
  }
}
@keyframes ground {
  0% {
    background: #ff8c28;
  }
  5% {
    background: hsl(45, 80%, 78%);
  }
  45% {
    background: hsl(45, 80%, 78%);
  }
  50% {
    background: #ff8c28;
  }
  55% {
    background: white;
  }
  95% {
    background: white;
  }
  100% {
    background: #ff8c28;
  }
}
@keyframes day {
  0% {
    transform: translateY(65px) rotateZ(0deg);
  }
  50% {
    transform: translateY(65px) rotateZ(180deg);
  }
  100% {
    transform: translateY(65px) rotateZ(360deg);
  }
}
@keyframes pyramid-lr {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  25% {
    background: rgba(0, 0, 0, 0.2);
  }
  50% {
    background: rgba(0, 0, 0, 0);
  }
  75% {
    background: rgba(0, 0, 0, 0.2);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes pyramid-s {
  0% {
    clip-path: polygon(130px 0, 270px 0, 0% 0px);
  }
  1% {
    clip-path: polygon(130px 0, 270px 0, 100% 0px);
  }
  11.5% {
    clip-path: polygon(130px 0, 270px 0, 100% 30px);
  }
  25.5% {
    clip-path: polygon(130px 0, 270px 0, 50% 40px);
  }
  40% {
    clip-path: polygon(130px 0, 270px 0, 0% 30px);
  }
  50% {
    clip-path: polygon(130px 0, 270px 0, 0% 0px);
  }
  51% {
    clip-path: polygon(130px 0, 270px 0, 100% 0px);
  }
  61.5% {
    clip-path: polygon(130px 0, 270px 0, 100% 30px);
  }
  75.5% {
    clip-path: polygon(130px 0, 270px 0, 50% 40px);
  }
  90% {
    clip-path: polygon(130px 0, 270px 0, 0% 30px);
  }
  100% {
    clip-path: polygon(130px 0, 270px 0, 0% 0px);
  }
  0% {
    background: rgba(0, 0, 0, 0);
  }
  10% {
    background: rgba(0, 0, 0, 0.2);
  }
  25% {
    background: rgba(0, 0, 0, 0.2);
  }
  40% {
    background: rgba(0, 0, 0, 0.2);
  }
  50% {
    background: rgba(0, 0, 0, 0);
  }
  60% {
    background: rgba(0, 0, 0, 0.2);
  }
  75% {
    background: rgba(0, 0, 0, 0.2);
  }
  90% {
    background: rgba(0, 0, 0, 0.2);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

#day4 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  background: #8dcc09;
  display: grid;
  place-content: center;
}
#day4 .center {
  width: 200px;
  height: 200px;
  position: relative;
  display: grid;
  place-items: center;
}
#day4 .center .cir {
  position: absolute;
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  animation: 3s ease infinite alternate;
}
#day4 .center .cir.xl {
  width: 100%;
  height: 100%;
  background: #b3f428;
  animation-name: xl;
}
#day4 .center .cir.bg {
  width: 80%;
  height: 80%;
  background: #bff64a;
  animation-name: bg;
}
#day4 .center .cir.md {
  width: 40%;
  height: 40%;
  background: #cbf86c;
  animation-name: md;
}
#day4 .center .cir.sm {
  width: 20%;
  height: 20%;
  background: #d7f98e;
  animation-name: sm;
}
@keyframes xl {
  0%, 10% {
    transform: scale(0);
  }
  85%, 100% {
    transform: scale(1);
  }
}
@keyframes bg {
  0%, 30% {
    transform: scale(0);
  }
  90%, 100% {
    transform: scale(1);
  }
}
@keyframes md {
  0%, 50% {
    transform: scale(0);
  }
  95%, 100% {
    transform: scale(1);
  }
}
@keyframes sm {
  0%, 70% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#day5 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  background: darkslategray;
  display: grid;
  place-content: center;
}
#day5 * {
  font-family: calibri;
}
#day5 .center {
  width: 340px;
  border-radius: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: grid;
}
#day5 .center .header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: slateblue;
  color: white;
}
#day5 .center .header span b {
  font-size: 1.25rem;
  text-transform: uppercase;
}
#day5 .center .header span p {
  font-size: 1rem;
}
#day5 .center .header span:last-child {
  text-align: right;
}
#day5 .center .content {
  display: grid;
  padding: 10px 15px;
}
#day5 .center .content .info {
  margin-left: 50%;
  height: 18px;
  color: gray;
  display: flex;
  justify-content: space-between;
}
#day5 .center .content .info span {
  font-size: 14px;
}
#day5 .center .content .info span::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 6px;
  margin: 6px 0;
  transform: translateX(-26px);
}
#day5 .center .content .info span.view::before {
  background: red;
}
#day5 .center .content .info span.purc::before {
  background: orange;
}
#day5 .center .content .graphic {
  position: relative;
  margin: 20px 0;
  width: 310px;
  height: 101px;
}
#day5 .center .content .graphic .bg-line {
  width: 100%;
  height: 100%;
  padding: 0 22.5px;
  display: grid;
  align-content: space-between;
}
#day5 .center .content .graphic .bg-line span {
  width: 100%;
  height: 1px;
  background: lightgray;
}
#day5 .center .content .graphic .graph-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#day5 .center .content .graphic .graph-line svg.line {
  position: absolute;
  fill: none;
  stroke-width: 2px;
}
#day5 .center .content .graphic .graph-line svg.line.red {
  stroke: red;
}
#day5 .center .content .graphic .graph-line svg.line.orange {
  stroke: orange;
}
#day5 .center .content .graphic .graph-line div.dots {
  position: absolute;
  width: 100%;
  height: 100%;
}
#day5 .center .content .graphic .graph-line div.dots span.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot {
  background: red;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.a {
  left: 19.5px;
  top: 97px;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.b {
  left: 59.5px;
  top: 67px;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.c {
  left: 104.5px;
  top: 77px;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.d {
  left: 149.5px;
  top: 19px;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.e {
  left: 194.5px;
  top: 2px;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.f {
  left: 239.5px;
  top: 33px;
}
#day5 .center .content .graphic .graph-line div.dots.red span.dot.g {
  left: 284.5px;
  top: 41px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot {
  background: orange;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.a {
  left: 19.5px;
  top: 97px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.b {
  left: 59.5px;
  top: 92px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.c {
  left: 104.5px;
  top: 22px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.d {
  left: 149.5px;
  top: 47px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.e {
  left: 194.5px;
  top: 57px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.f {
  left: 239.5px;
  top: 77px;
}
#day5 .center .content .graphic .graph-line div.dots.orange span.dot.g {
  left: 284.5px;
  top: 67px;
}
#day5 .center .content .day {
  color: white;
  display: flex;
  justify-content: space-between;
}
#day5 .center .content .day span {
  width: 40px;
  background: gray;
  text-align: center;
}

#day6 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  background: linear-gradient(45deg, #d9c19d, #946d43);
  display: grid;
  place-content: center;
}
#day6 .center {
  width: 320px;
  height: 280px;
  border-radius: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
}
#day6 .center * {
  font-family: Helvetica, sans-serif;
}
#day6 .center .left {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(3, max-content) auto;
  justify-items: center;
}
#day6 .center .left .photo {
  width: 90px;
  height: 90px;
  display: grid;
  place-items: center;
}
#day6 .center .left .photo:hover .cir.in {
  transform: rotateZ(360deg);
}
#day6 .center .left .photo:hover .cir.out {
  transform: rotateZ(-360deg);
}
#day6 .center .left .photo .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("../img/leaf.jpg");
  background-size: 500%;
  background-position: 150px 110px;
  background-color: #946d43;
}
#day6 .center .left .photo .cir {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: #946d43 #946d43 #946d43 transparent;
  border-radius: 50%;
  transition: transform 1.5s ease-in-out;
}
#day6 .center .left .photo .cir.in {
  width: 78px;
  height: 78px;
}
#day6 .center .left .photo .cir.out {
  width: 86px;
  height: 86px;
  transform: rotateZ(180deg);
}
#day6 .center .left .name {
  color: #946d43;
  margin: 0.25rem 0 1.5rem 0;
  text-align: center;
}
#day6 .center .left .name b {
  font-size: 1.25rem;
}
#day6 .center .left .name p {
  font-size: 0.75rem;
  margin-top: 2px;
}
#day6 .center .left .action {
  margin: 0 0 auto 0;
  width: 100%;
  height: fit-content;
  display: grid;
  justify-items: center;
}
#day6 .center .left .action button {
  width: 60%;
  height: 2rem;
  font-weight: bold;
  color: #946d43;
  border: 2px solid #946d43;
  border-radius: 0.875rem;
  transition: all 0.4s ease-in-out;
}
#day6 .center .left .action button:first-child {
  margin-bottom: 0.5rem;
}
#day6 .center .left .action button:hover {
  background: #946d43;
  color: white;
}
#day6 .center .right {
  width: 100px;
  height: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
#day6 .center .right .box {
  background: #fbeed7;
  width: 100%;
  height: 100%;
  color: #946d43;
  display: grid;
  place-items: center;
  transition: all 0.4s ease-in-out;
}
#day6 .center .right .box:nth-last-child(2) {
  border: solid white;
  border-width: 2px 0 2px 0;
}
#day6 .center .right .box:hover {
  background: #d9c19d;
  color: #fbeed7;
}
#day6 .center .right .box b {
  font-size: 1.25rem;
  margin: auto 0 0 0;
}
#day6 .center .right .box p {
  font-size: 0.75rem;
  margin: 2px 0 auto 0;
}

#day7 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  overflow: hidden;
  background: lightsteelblue;
  display: grid;
  place-items: center;
}
#day7 .main {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background: burlywood;
  box-shadow: 0 0 15px rgba(25, 25, 112, 0.4);
  width: 300px;
  min-height: 300px;
  display: grid;
  grid-template-rows: max-content auto;
  z-index: 2;
  transition: 0.5s;
}
#day7 .main * {
  font-family: "Gill Sans", sans-serif;
}
#day7 .main i {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
}
#day7 .main.active {
  transform: translateX(160px);
}
#day7 .main .header {
  position: relative;
  width: 100%;
  height: 4rem;
  padding: 1rem 1rem;
  background: midnightblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#day7 .main .header .btn-menu {
  width: 2.5rem;
  height: 2rem;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
}
#day7 .main .header .btn-menu .line1, #day7 .main .header .btn-menu .line2 {
  width: 2rem;
  height: 4px;
  background: lightsteelblue;
  border-radius: 2px;
}
#day7 .main .header .btn-menu .cir {
  position: absolute;
  width: 14px;
  height: 14px;
  background: lightsteelblue;
  border-radius: 50%;
  border: 3px solid midnightblue;
  place-self: start end;
  transform: translate(-1px, 3px);
}
#day7 .main .header .btn-menu:hover {
  cursor: pointer;
}
#day7 .main .header .btn-menu:hover * {
  background: white;
}
#day7 .main .header b {
  letter-spacing: 1px;
}
#day7 .main .header .search {
  font-size: 1.5rem;
  width: 2rem;
  text-align: right;
  color: lightsteelblue;
}
#day7 .main .header .search:hover * {
  color: white;
  cursor: pointer;
}
#day7 .main .header input {
  position: absolute;
  width: 75%;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.75rem;
  border: none;
  color: gray;
  outline: none;
  transition: 0.5s;
  opacity: 0.2;
  z-index: -1;
  transform: translateX(20px);
}
#day7 .main .header input.active {
  opacity: 1;
  z-index: 5;
  transform: translateX(0px);
}
#day7 .main .content {
  position: relative;
  background: white;
  display: grid;
  align-content: space-evenly;
  padding: 0rem 1.5rem 0rem 3rem;
}
#day7 .main .content .line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: midnightblue;
  opacity: 30%;
  place-self: start;
  transform: translateX(calc(2rem - 1px));
}
#day7 .main .content .notif {
  color: gray;
  margin: 0.75rem 0;
  display: flex;
  flex-direction: column;
}
#day7 .main .content .notif .cir {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid midnightblue;
  border-radius: 50%;
  transform: translateX(-22px);
}
#day7 .main .content .notif .time {
  font-size: 0.75rem;
}
#day7 .main .content .notif .text {
  margin: 3px 0;
}
#day7 .main .content .notif:hover * {
  cursor: pointer;
  color: midnightblue;
}
#day7 .menu {
  position: absolute;
  justify-self: start;
  padding: 0.75rem 0;
  background: gray;
  color: white;
  border-radius: 4px 0 0 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(70px);
}
#day7 .menu * {
  font-family: "Gill Sans", sans-serif;
}
#day7 .menu i {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
}
#day7 .menu.active {
  transform: translateX(50px);
}
#day7 .menu span {
  padding: 0.75rem 1.75rem 0.75rem 1rem;
  display: flex;
  align-items: center;
}
#day7 .menu span:hover {
  background: darkgray;
  cursor: pointer;
}
#day7 .menu span i {
  margin-right: 0.75rem;
}

#day8 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  overflow: hidden;
  background: hsl(200, 100%, 10%);
  filter: contrast(25);
  display: grid;
  place-content: center;
}
#day8 .ball-ctr {
  position: relative;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  filter: blur(15px);
  display: grid;
  place-items: center;
}
#day8 .ball-ctr .cir-in-1 {
  position: absolute;
  width: 62px;
  height: 62px;
  rotate: 205deg;
}
#day8 .ball-ctr .cir-in-1::after {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(62px / 1.5) calc(62px / 1.5);
  animation: anim 3.2s ease-in-out 0.2s infinite;
}
#day8 .ball-ctr .cir-in-2 {
  position: absolute;
  width: 64px;
  height: 64px;
  rotate: 345deg;
}
#day8 .ball-ctr .cir-in-2::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(64px / 1.5) calc(64px / 1.5);
  animation: anim 3.4s ease-in-out 0.4s infinite;
}
#day8 .ball-ctr .cir-in-3 {
  position: absolute;
  width: 66px;
  height: 66px;
  rotate: 359deg;
}
#day8 .ball-ctr .cir-in-3::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(66px / 1.5) calc(66px / 1.5);
  animation: anim 3.6s ease-in-out 0.6s infinite;
}
#day8 .ball-ctr .cir-in-4 {
  position: absolute;
  width: 68px;
  height: 68px;
  rotate: 54deg;
}
#day8 .ball-ctr .cir-in-4::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(68px / 1.5) calc(68px / 1.5);
  animation: anim 3.8s ease-in-out 0.8s infinite;
}
#day8 .ball-ctr .cir-in-5 {
  position: absolute;
  width: 70px;
  height: 70px;
  rotate: 356deg;
}
#day8 .ball-ctr .cir-in-5::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(70px / 1.5) calc(70px / 1.5);
  animation: anim 4s ease-in-out 1s infinite;
}
#day8 .ball-ctr .cir-in-6 {
  position: absolute;
  width: 72px;
  height: 72px;
  rotate: 342deg;
}
#day8 .ball-ctr .cir-in-6::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(72px / 1.5) calc(72px / 1.5);
  animation: anim 4.2s ease-in-out 1.2s infinite;
}
#day8 .ball-ctr .cir-in-7 {
  position: absolute;
  width: 74px;
  height: 74px;
  rotate: 322deg;
}
#day8 .ball-ctr .cir-in-7::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(74px / 1.5) calc(74px / 1.5);
  animation: anim 4.4s ease-in-out 1.4s infinite;
}
#day8 .ball-ctr .cir-in-8 {
  position: absolute;
  width: 76px;
  height: 76px;
  rotate: 168deg;
}
#day8 .ball-ctr .cir-in-8::after {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: white;
  filter: blur(5px);
  transform-origin: calc(76px / 1.5) calc(76px / 1.5);
  animation: anim 4.6s ease-in-out 1.6s infinite;
}
#day8 .ball-ctr .cir-out-1 {
  position: absolute;
  width: 30.9090909091px;
  height: 30.9090909091px;
  rotate: 127deg;
}
#day8 .ball-ctr .cir-out-1::after {
  content: "";
  position: absolute;
  width: 30.9090909091px;
  height: 30.9090909091px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 64px 64px;
  animation: anim 4.1333333333s ease-in-out 0.1333333333s infinite;
}
#day8 .ball-ctr .cir-out-2 {
  position: absolute;
  width: 31.8181818182px;
  height: 31.8181818182px;
  rotate: 284deg;
}
#day8 .ball-ctr .cir-out-2::after {
  content: "";
  position: absolute;
  width: 31.8181818182px;
  height: 31.8181818182px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 68px 68px;
  animation: anim 4.2666666667s ease-in-out 0.2666666667s infinite;
}
#day8 .ball-ctr .cir-out-3 {
  position: absolute;
  width: 32.7272727273px;
  height: 32.7272727273px;
  rotate: 290deg;
}
#day8 .ball-ctr .cir-out-3::after {
  content: "";
  position: absolute;
  width: 32.7272727273px;
  height: 32.7272727273px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 72px 72px;
  animation: anim 4.4s ease-in-out 0.4s infinite;
}
#day8 .ball-ctr .cir-out-4 {
  position: absolute;
  width: 33.6363636364px;
  height: 33.6363636364px;
  rotate: 263deg;
}
#day8 .ball-ctr .cir-out-4::after {
  content: "";
  position: absolute;
  width: 33.6363636364px;
  height: 33.6363636364px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 76px 76px;
  animation: anim 4.5333333333s ease-in-out 0.5333333333s infinite;
}
#day8 .ball-ctr .cir-out-5 {
  position: absolute;
  width: 34.5454545455px;
  height: 34.5454545455px;
  rotate: 256deg;
}
#day8 .ball-ctr .cir-out-5::after {
  content: "";
  position: absolute;
  width: 34.5454545455px;
  height: 34.5454545455px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 80px 80px;
  animation: anim 4.6666666667s ease-in-out 0.6666666667s infinite;
}
#day8 .ball-ctr .cir-out-6 {
  position: absolute;
  width: 35.4545454545px;
  height: 35.4545454545px;
  rotate: 355deg;
}
#day8 .ball-ctr .cir-out-6::after {
  content: "";
  position: absolute;
  width: 35.4545454545px;
  height: 35.4545454545px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 84px 84px;
  animation: anim 4.8s ease-in-out 0.8s infinite;
}
#day8 .ball-ctr .cir-out-7 {
  position: absolute;
  width: 36.3636363636px;
  height: 36.3636363636px;
  rotate: 95deg;
}
#day8 .ball-ctr .cir-out-7::after {
  content: "";
  position: absolute;
  width: 36.3636363636px;
  height: 36.3636363636px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 88px 88px;
  animation: anim 4.9333333333s ease-in-out 0.9333333333s infinite;
}
#day8 .ball-ctr .cir-out-8 {
  position: absolute;
  width: 37.2727272727px;
  height: 37.2727272727px;
  rotate: 43deg;
}
#day8 .ball-ctr .cir-out-8::after {
  content: "";
  position: absolute;
  width: 37.2727272727px;
  height: 37.2727272727px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 92px 92px;
  animation: anim 5.0666666667s ease-in-out 1.0666666667s infinite;
}
#day8 .ball-ctr .cir-out-9 {
  position: absolute;
  width: 38.1818181818px;
  height: 38.1818181818px;
  rotate: 240deg;
}
#day8 .ball-ctr .cir-out-9::after {
  content: "";
  position: absolute;
  width: 38.1818181818px;
  height: 38.1818181818px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 96px 96px;
  animation: anim 5.2s ease-in-out 1.2s infinite;
}
#day8 .ball-ctr .cir-out-10 {
  position: absolute;
  width: 39.0909090909px;
  height: 39.0909090909px;
  rotate: 126deg;
}
#day8 .ball-ctr .cir-out-10::after {
  content: "";
  position: absolute;
  width: 39.0909090909px;
  height: 39.0909090909px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 100px 100px;
  animation: anim 5.3333333333s ease-in-out 1.3333333333s infinite;
}
#day8 .ball-ctr .cir-out-11 {
  position: absolute;
  width: 40px;
  height: 40px;
  rotate: 355deg;
}
#day8 .ball-ctr .cir-out-11::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 104px 104px;
  animation: anim 5.4666666667s ease-in-out 1.4666666667s infinite;
}
#day8 .ball-ctr .cir-out-12 {
  position: absolute;
  width: 40.9090909091px;
  height: 40.9090909091px;
  rotate: 34deg;
}
#day8 .ball-ctr .cir-out-12::after {
  content: "";
  position: absolute;
  width: 40.9090909091px;
  height: 40.9090909091px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 108px 108px;
  animation: anim 5.6s ease-in-out 1.6s infinite;
}
#day8 .ball-ctr .cir-out-13 {
  position: absolute;
  width: 41.8181818182px;
  height: 41.8181818182px;
  rotate: 124deg;
}
#day8 .ball-ctr .cir-out-13::after {
  content: "";
  position: absolute;
  width: 41.8181818182px;
  height: 41.8181818182px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 112px 112px;
  animation: anim 5.7333333333s ease-in-out 1.7333333333s infinite;
}
#day8 .ball-ctr .cir-out-14 {
  position: absolute;
  width: 42.7272727273px;
  height: 42.7272727273px;
  rotate: 189deg;
}
#day8 .ball-ctr .cir-out-14::after {
  content: "";
  position: absolute;
  width: 42.7272727273px;
  height: 42.7272727273px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 116px 116px;
  animation: anim 5.8666666667s ease-in-out 1.8666666667s infinite;
}
#day8 .ball-ctr .cir-out-15 {
  position: absolute;
  width: 43.6363636364px;
  height: 43.6363636364px;
  rotate: 201deg;
}
#day8 .ball-ctr .cir-out-15::after {
  content: "";
  position: absolute;
  width: 43.6363636364px;
  height: 43.6363636364px;
  border-radius: 50%;
  background: white;
  filter: blur(3px);
  transform-origin: 120px 120px;
  animation: anim 6s ease-in-out 2s infinite;
}
@keyframes anim {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#day9 {
  position: relative;
  position: relative;
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  overflow: hidden;
  background: #101046;
  display: grid;
  place-items: center;
}
#day9 * {
  font-family: "Open Sans", Helvetica, sans-serif;
}
#day9 .moon {
  position: absolute;
  top: 30px;
  left: 60px;
  width: 70px;
  height: 70px;
  background: radial-gradient(#F5F3CE, #eeebac);
  box-shadow: 0 0 12px 0 #F5F3CE, 0 0 24px 0 #F5F3CE;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}
#day9 .moon .cir-1 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-4 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-5 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-6 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-7 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-8 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-9 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-10 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-11 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-12 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #efecb0;
  box-shadow: inset 0 0 2px rgba(34, 34, 34, 0.05);
}
#day9 .moon .cir-1 {
  transform: translate(-15px, -15px);
  width: 16px;
  height: 16px;
}
#day9 .moon .cir-2 {
  transform: translate(14px, 0);
  width: 12px;
  height: 12px;
}
#day9 .moon .cir-3 {
  transform: translate(18px, 20px);
  width: 10px;
  height: 10px;
}
#day9 .moon .cir-4 {
  transform: translate(-4px, -32px);
  width: 10px;
  height: 10px;
}
#day9 .moon .cir-5 {
  transform: translate(-24px, 14px);
  width: 10px;
  height: 10px;
}
#day9 .moon .cir-6 {
  transform: translate(-14px, 10px);
  width: 6px;
  height: 6px;
}
#day9 .moon .cir-7 {
  transform: translate(4px, 28px);
  width: 8px;
  height: 8px;
}
#day9 .moon .cir-8 {
  transform: translate(33px, -8px);
  width: 6px;
  height: 6px;
}
#day9 .moon .cir-9 {
  transform: translate(-18px, 27px);
  width: 6px;
  height: 6px;
}
#day9 .moon .cir-10 {
  transform: translate(-2px, -2px);
  width: 4px;
  height: 4px;
}
#day9 .moon .cir-11 {
  transform: translate(16px, -25px);
  width: 4px;
  height: 4px;
}
#day9 .moon .cir-12 {
  transform: translate(8px, -18px);
  width: 8px;
  height: 8px;
}
#day9 .land {
  position: absolute;
  display: grid;
  place-items: center;
}
#day9 .land .back-1 {
  width: 220px;
  height: 220px;
  background: #414d75;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .center-1 {
  width: 360px;
  height: 360px;
  background: #697397;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .front-1 {
  width: 500px;
  height: 500px;
  background: #9299b6;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .back-2 {
  width: 220px;
  height: 220px;
  background: #414d75;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .center-2 {
  width: 360px;
  height: 360px;
  background: #697397;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .front-2 {
  width: 500px;
  height: 500px;
  background: #9299b6;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .back-3 {
  width: 220px;
  height: 220px;
  background: #414d75;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .center-3 {
  width: 360px;
  height: 360px;
  background: #697397;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .front-3 {
  width: 500px;
  height: 500px;
  background: #9299b6;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .back-4 {
  width: 220px;
  height: 220px;
  background: #414d75;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .center-4 {
  width: 360px;
  height: 360px;
  background: #697397;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .front-4 {
  width: 500px;
  height: 500px;
  background: #9299b6;
  position: absolute;
  border-radius: 50%;
}
#day9 .land .front-1 {
  transform: translate(-80px, 320px);
}
#day9 .land .front-2 {
  transform: translate(180px, 280px);
}
#day9 .land .center-1 {
  transform: translate(-190px, 220px);
}
#day9 .land .center-2 {
  transform: translate(-20px, 190px);
}
#day9 .land .center-3 {
  transform: translate(260px, 160px);
}
#day9 .land .back-1 {
  transform: translate(50px, 100px);
}
#day9 .land .back-2 {
  transform: translate(170px, 70px);
}
#day9 .land .back-3 {
  transform: translate(-150px, 110px);
}
#day9 .land .back-4 {
  transform: translate(-250px, 80px);
}
#day9 .rain {
  width: 100%;
  height: 310px;
  position: relative;
}
#day9 .rain > * {
  position: absolute;
  width: 120%;
  height: 100%;
  left: -10%;
  display: flex;
  align-items: end;
  justify-content: space-around;
}
#day9 .rain > * * {
  z-index: 10;
  position: relative;
  background: lightblue;
  border-radius: 50%;
  display: grid;
  justify-items: center;
}
#day9 .rain > * *::before, #day9 .rain > * *::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: lightblue;
}
#day9 .rain .big .drop-1 {
  width: 8px;
  height: 8px;
  animation: rain 0.8s linear 1.8s infinite both;
}
#day9 .rain .big .drop-1::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-1::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-1 {
  width: 6px;
  height: 6px;
  animation: rain 1.1s linear 0.9s infinite both;
}
#day9 .rain .med .drop-1::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-1::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-1 {
  width: 4px;
  height: 4px;
  animation: rain 1.4s linear 1.4s infinite both;
}
#day9 .rain .sml .drop-1::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-1::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-2 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 0.3s infinite both;
}
#day9 .rain .big .drop-2::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-2::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-2 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 1.3s infinite both;
}
#day9 .rain .med .drop-2::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-2::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-2 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 1.3s infinite both;
}
#day9 .rain .sml .drop-2::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-2::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-3 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 1.4s infinite both;
}
#day9 .rain .big .drop-3::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-3::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-3 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 1.1s infinite both;
}
#day9 .rain .med .drop-3::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-3::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-3 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 0.1s infinite both;
}
#day9 .rain .sml .drop-3::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-3::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-4 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 0.1s infinite both;
}
#day9 .rain .big .drop-4::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-4::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-4 {
  width: 6px;
  height: 6px;
  animation: rain 1.1s linear 1.8s infinite both;
}
#day9 .rain .med .drop-4::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-4::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-4 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 0.3s infinite both;
}
#day9 .rain .sml .drop-4::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-4::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-5 {
  width: 8px;
  height: 8px;
  animation: rain 0.8s linear 1.3s infinite both;
}
#day9 .rain .big .drop-5::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-5::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-5 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 0.6s infinite both;
}
#day9 .rain .med .drop-5::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-5::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-5 {
  width: 4px;
  height: 4px;
  animation: rain 1.4s linear 1.1s infinite both;
}
#day9 .rain .sml .drop-5::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-5::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-6 {
  width: 8px;
  height: 8px;
  animation: rain 0.8s linear 1.6s infinite both;
}
#day9 .rain .big .drop-6::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-6::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-6 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 0.9s infinite both;
}
#day9 .rain .med .drop-6::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-6::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-6 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 0.8s infinite both;
}
#day9 .rain .sml .drop-6::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-6::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-7 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 0.5s infinite both;
}
#day9 .rain .big .drop-7::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-7::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-7 {
  width: 6px;
  height: 6px;
  animation: rain 1.1s linear 1.5s infinite both;
}
#day9 .rain .med .drop-7::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-7::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-7 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 0.5s infinite both;
}
#day9 .rain .sml .drop-7::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-7::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-8 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 1.2s infinite both;
}
#day9 .rain .big .drop-8::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-8::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-8 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 1.7s infinite both;
}
#day9 .rain .med .drop-8::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-8::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-8 {
  width: 4px;
  height: 4px;
  animation: rain 1.4s linear 1.4s infinite both;
}
#day9 .rain .sml .drop-8::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-8::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-9 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 1.1s infinite both;
}
#day9 .rain .big .drop-9::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-9::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-9 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 1.8s infinite both;
}
#day9 .rain .med .drop-9::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-9::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-9 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 1.2s infinite both;
}
#day9 .rain .sml .drop-9::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-9::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-10 {
  width: 8px;
  height: 8px;
  animation: rain 0.8s linear 0.4s infinite both;
}
#day9 .rain .big .drop-10::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-10::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-10 {
  width: 6px;
  height: 6px;
  animation: rain 1.1s linear 0.3s infinite both;
}
#day9 .rain .med .drop-10::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-10::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-10 {
  width: 4px;
  height: 4px;
  animation: rain 1.4s linear 0.3s infinite both;
}
#day9 .rain .sml .drop-10::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-10::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-11 {
  width: 8px;
  height: 8px;
  animation: rain 0.8s linear 0.6s infinite both;
}
#day9 .rain .big .drop-11::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-11::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-11 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 0.4s infinite both;
}
#day9 .rain .med .drop-11::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-11::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-11 {
  width: 4px;
  height: 4px;
  animation: rain 1.5s linear 1.1s infinite both;
}
#day9 .rain .sml .drop-11::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-11::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
#day9 .rain .big .drop-12 {
  width: 8px;
  height: 8px;
  animation: rain 0.7s linear 1.5s infinite both;
}
#day9 .rain .big .drop-12::before {
  width: 6px;
  height: 6px;
  top: -2px;
}
#day9 .rain .big .drop-12::after {
  width: 4px;
  height: 10px;
  top: -5px;
}
#day9 .rain .med .drop-12 {
  width: 6px;
  height: 6px;
  animation: rain 1s linear 0.5s infinite both;
}
#day9 .rain .med .drop-12::before {
  width: 4px;
  height: 4px;
  top: -2px;
}
#day9 .rain .med .drop-12::after {
  width: 3px;
  height: 8px;
  top: -4px;
}
#day9 .rain .sml .drop-12 {
  width: 4px;
  height: 4px;
  animation: rain 1.4s linear 0.2s infinite both;
}
#day9 .rain .sml .drop-12::before {
  width: 3px;
  height: 3px;
  top: -1px;
}
#day9 .rain .sml .drop-12::after {
  width: 2px;
  height: 6px;
  top: -3px;
}
@keyframes rain {
  0% {
    transform: translate3d(40px, -320px, 0) scale3d(1, 1, 1) rotateZ(17deg);
  }
  85% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateZ(17deg);
  }
  100% {
    transform: translate3d(0, 6px, 0) scale3d(3, 0, 1) rotateZ(0deg);
  }
}
#day9 .text {
  z-index: 20;
  width: calc(100% - 8px);
  height: 86px;
  align-self: end;
  background: white;
  color: #101046;
  border-radius: 0 0 3px 3px;
  margin: 0 4px 4px 4px;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
}
#day9 .text > span:nth-child(1) {
  font-size: 3rem;
  margin-right: 1rem;
}
#day9 .text > span:nth-child(2) {
  font-size: 1rem;
  color: #777;
  margin-right: auto;
}
#day9 .text .hor-x {
  display: flex;
}
#day9 .text .hor-x .ver-y {
  display: grid;
  text-align: right;
}
#day9 .text .hor-x .ver-y:nth-child(1) {
  margin-right: 0.5rem;
  color: #777;
}
#day9 .text .hor-x .ver-y:nth-child(2) {
  color: #101046;
}

#day10 {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-radius: 6px;
  overflow: hidden;
  background: gray;
  display: grid;
  place-items: center;
}
#day10 .frame {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 6px solid #777;
  background: #222;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
}
#day10 .frame svg {
  width: 100%;
  height: 100%;
}
#day10 .frame svg circle:nth-child(1) {
  r: 114px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #ff9999;
  stroke-width: 2px;
  transform-origin: center;
  rotate: -90deg;
  stroke-dasharray: 52.2083333333px, 7.4583333333px;
  stroke-dashoffset: 26.1041666667px;
  stroke-linecap: round;
  animation: clr 6s linear 0s infinite;
}
#day10 .frame svg circle:nth-child(2) {
  r: 114px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #ff3333;
  stroke-width: 6px;
  transform-origin: center;
  rotate: -90deg;
  stroke-dasharray: 716px;
  stroke-linecap: round;
  animation: spin 6s linear 0s infinite;
}
#day10 .dots {
  position: absolute;
  display: grid;
  place-items: center;
}
#day10 .dots .dot {
  position: absolute;
  width: 210px;
  height: 210px;
  display: grid;
}
#day10 .dots .dot:nth-child(1) {
  rotate: 0deg;
}
#day10 .dots .dot:nth-child(2) {
  rotate: 9deg;
}
#day10 .dots .dot:nth-child(3) {
  rotate: 18deg;
}
#day10 .dots .dot:nth-child(4) {
  rotate: 27deg;
}
#day10 .dots .dot:nth-child(5) {
  rotate: 36deg;
}
#day10 .dots .dot:nth-child(6) {
  rotate: 45deg;
}
#day10 .dots .dot:nth-child(7) {
  rotate: 54deg;
}
#day10 .dots .dot:nth-child(8) {
  rotate: 63deg;
}
#day10 .dots .dot:nth-child(9) {
  rotate: 72deg;
}
#day10 .dots .dot:nth-child(10) {
  rotate: 81deg;
}
#day10 .dots .dot p {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
#day10 .dots .dot p:nth-child(1) {
  justify-self: center;
  align-self: start;
}
#day10 .dots .dot p:nth-child(2) {
  justify-self: end;
  align-self: center;
}
#day10 .dots .dot p:nth-child(3) {
  justify-self: center;
  align-self: end;
}
#day10 .dots .dot p:nth-child(4) {
  justify-self: start;
  align-self: center;
}
#day10 .info {
  position: absolute;
  width: 160px;
  height: 160px;
  color: white;
  display: grid;
}
#day10 .info * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#day10 .info i {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
}
#day10 .info > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#day10 .info .cal {
  align-self: start;
}
#day10 .info .clock {
  align-self: center;
}
#day10 .info .clock p {
  font-size: 0.75rem;
  position: absolute;
}
#day10 .info .clock b {
  font-size: 3rem;
}
#day10 .info .heart {
  align-self: end;
}
#day10 .info .heart span {
  width: 1.5rem;
  height: 1.5rem;
}
#day10 .info .heart span i {
  scale: 0.8;
  font-size: 1.5rem;
  color: #ff3333;
  animation: heart 0.8s ease-in-out, clr 6s linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    stroke-dashoffset: 716px;
    stroke: #ff3333;
    transform: scaleY(1);
  }
  50% {
    stroke-dashoffset: 0px;
    stroke: #3333ff;
    transform: scaleY(1);
  }
  50.001% {
    transform: scaleY(-1);
  }
  100% {
    stroke-dashoffset: 716px;
    stroke: #ff3333;
    transform: scaleY(-1);
  }
}
@keyframes heart {
  0% {
    scale: 0.8;
  }
  35% {
    scale: 1;
  }
  70% {
    scale: 0.8;
  }
  100% {
    scale: 0.8;
  }
}
@keyframes clr {
  0% {
    color: #ff3333;
    stroke: #ff9999;
  }
  50% {
    color: #3333ff;
    stroke: #9999ff;
  }
  100% {
    color: #ff3333;
    stroke: #ff9999;
  }
}/*# sourceMappingURL=05_1-10.css.map */